@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

:root {
    --text-height: 1.75em;
}

html,
body {
    position:    relative;
    width:       100%;
    height:      100%;
    margin:      0;
    padding:     0;
    font-family: 'Livvic', sans-serif;
    font-size:   var(--text-height);
}

#text-to-type {
    margin: auto;
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;

    height: var(--text-height);
    text-align: center;
}

#text-to-type span {
    display: inline-block;
    /* width: 40px; */
    border-radius: 0.05em;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.typed {
    color: lightgrey;
    font-weight: normal;
    filter: blur(1px);
}
.not-typed {
    font-weight: lighter;
}

.not-typed {
    position: relative;
    /* background-color: black; */
    /* color: white; */
    text-decoration: overline;
    font-weight: lighter;
    /* box-shadow: 0px 0px 2px 1px black; */
    /* z-index: 2; */
}
.not-typed ~ .not-typed {
    position: relative;
    text-decoration: none;
    /* background-color: white; */
    /* color: black; */
    font-weight: lighter;
    /* box-shadow: none; */
    /* z-index: 1; */
}

.incorrect {
    text-decoration: /*line-through;*/overline;
    /* background-color: lightcoral; */
    color: lightcoral;
    /* color: white; */
    filter: blur(1px);
    /* box-shadow: 0px 0px 4px 2px lightcoral; */
    /* color: red; */
}

#progress {
    position: absolute;
    width: 100%;
    font-size: 0.25em;
}
#progress span {
    width: 0%;
    display: inline-block;
    background-color: lightgrey;
    transition: width 0.25s ease-out 0s;
}